{
  "log": {
    "_recordingName": "useProductList/can fetch product by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "699673edbb92ef53c79ddeb7a31f138a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"UserDetails\",\"variables\":{},\"query\":\"fragment Address on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment User on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  defaultShippingAddress {\\n    ...Address\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...Address\\n    __typename\\n  }\\n  addresses {\\n    ...Address\\n    __typename\\n  }\\n  __typename\\n}\\n\\nquery UserDetails {\\n  me {\\n    ...User\\n    __typename\\n  }\\n}\\n\"},{\"operationName\":\"ProductDetails\",\"variables\":{\"channel\":\"default-channel\",\"id\":\"UHJvZHVjdDo4NA==\"},\"query\":\"fragment BaseProduct on Product {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  thumbnail {\\n    url\\n    alt\\n    __typename\\n  }\\n  thumbnail2x: thumbnail(size: 510) {\\n    url\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment SelectedAttributeFields on SelectedAttribute {\\n  attribute {\\n    id\\n    name\\n    slug\\n    __typename\\n  }\\n  values {\\n    id\\n    name\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment Pric[...]
