{
  "log": {
    "_recordingName": "Categories object/can get new page",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bf0ccd5ad3f184d97dd0803b144e1dcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CategoryList\",\"variables\":{\"first\":1},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CategoryList($first: Int!, $after: String) {\\n  categories(first: $first, after: $after) {\\n    edges {\\n      node {\\n        ...BaseCategory\\n        __typename\\n      }\\n      __typename\\n    }\\n    totalCount\\n    pageInfo {\\n      ...PageInfo\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 375,
            "text": "[{\"data\": {\"categories\": {\"edges\": [{\"node\": {\"id\": \"Q2F0ZWdvcnk6Nw==\", \"name\": \"Accessories\", \"slug\": \"accessories\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}], \"totalCount\": 13, \"pageInfo\": {\"endCursor\": \"WyI3Il0=\", \"hasNextPage\": true, \"__typename\": \"PageInfo\"}, \"__typename\": \"CategoryCountableConnection\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 319,
      },
      {
        "_id": "28edd844151d0aa4540df7482e2deff1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CategoryList\",\"variables\":{\"first\":1,\"after\":\"WyI3Il0=\"},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CategoryList($first: Int!, $after: String) {\\n  categories(first: $first, after: $after) {\\n    edges {\\n      node {\\n        ...BaseCategory\\n        __typename\\n      }\\n      __typename\\n    }\\n    totalCount\\n    pageInfo {\\n      ...PageInfo\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 371,
            "text": "[{\"data\": {\"categories\": {\"edges\": [{\"node\": {\"id\": \"Q2F0ZWdvcnk6OA==\", \"name\": \"Groceries\", \"slug\": \"groceries\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}], \"totalCount\": 13, \"pageInfo\": {\"endCursor\": \"WyI4Il0=\", \"hasNextPage\": true, \"__typename\": \"PageInfo\"}, \"__typename\": \"CategoryCountableConnection\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 301,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
