{
  "log": {
    "_recordingName": "useCategoryChildrenList/can fetch subcategories",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "cebfcce6c0abbd73a08209faff5d0623",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"UserDetails\",\"variables\":{},\"query\":\"fragment Address on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment User on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  defaultShippingAddress {\\n    ...Address\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...Address\\n    __typename\\n  }\\n  addresses {\\n    ...Address\\n    __typename\\n  }\\n  __typename\\n}\\n\\nquery UserDetails {\\n  me {\\n    ...User\\n    __typename\\n  }\\n}\\n\"},{\"operationName\":\"CategoryChildrenList\",\"variables\":{\"channel\":\"default-channel\",\"first\":20,\"id\":\"Q2F0ZWdvcnk6Nw==\"},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CategoryChildrenList($id: ID!, $first: Int!, $after: String) {\\n  category(id: $id) {\\n    id\\n    children(first: $first, after: $after) {\\n      edges {\\n        node {\\n          ...BaseCategory\\n          __typename\\n        }\\n        __typename\\n      }\\n      totalCount\\n      pageInfo {\\n        ...PageInfo\\n        __typename\\n      }\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 817,
            "text": "[{\"data\": {\"me\": null}}, {\"data\": {\"category\": {\"id\": \"Q2F0ZWdvcnk6Nw==\", \"children\": {\"edges\": [{\"node\": {\"id\": \"Q2F0ZWdvcnk6MjA=\", \"name\": \"Paints\", \"slug\": \"paints\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}, {\"node\": {\"id\": \"Q2F0ZWdvcnk6MjI=\", \"name\": \"Homewares\", \"slug\": \"homewares\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}, {\"node\": {\"id\": \"Q2F0ZWdvcnk6MjM=\", \"name\": \"Audiobooks\", \"slug\": \"ebooks\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}], \"totalCount\": 3, \"pageInfo\": {\"endCursor\": \"WyIyMyJd\", \"hasNextPage\": false, \"__typename\": \"PageInfo\"}, \"__typename\": \"CategoryCountableConnection\"}, \"__typename\": \"Category\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 941,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
