{
  "log": {
    "_recordingName": "Product object/can get a details of product by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "45f89c7701b4830f05f801c351378e14",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"ProductDetails\",\"variables\":{\"channel\":\"default-channel\",\"id\":\"UHJvZHVjdDo4NA==\"},\"query\":\"fragment BaseProduct on Product {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  thumbnail {\\n    url\\n    alt\\n    __typename\\n  }\\n  thumbnail2x: thumbnail(size: 510) {\\n    url\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment SelectedAttributeFields on SelectedAttribute {\\n  attribute {\\n    id\\n    name\\n    slug\\n    __typename\\n  }\\n  values {\\n    id\\n    name\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment Price on TaxedMoney {\\n  gross {\\n[...]
