{
  "log": {
    "_recordingName": "auth api/logout clears user cache",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d515c4b5a8d1bbd309eb8164402d0d51",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"login\",\"variables\":{},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nfragment AddressFragment on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  cityArea\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment UserFragment on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  metadata {\\n    key\\n    value\\n    __typename\\n  }\\n  defaultShippingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  addresses {\\n    ...AddressFragment\\n    __typename\\n  }\\n  __typename\\n}\\n\\nmutation login($email: String!, $password: String!) {\\n  tokenCreate(email: $email, password: $password) {\\n    csrfToken\\n    refreshToken\\n    token\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    user {\\n      ...UserFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4578,
            "text": "{\"data\": {\"tokenCreate\": {\"csrfToken\": \"yoKpPrnzQuqvwzTi6FgMXKoOBU5nQMfCjdIcyiBHCQsojwxuvFQBTmUWPKPItfQe\", \"refreshToken\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzE1NDMxMzEsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjM0MTM1MTMxLCJ0b2tlbiI6IkJvRDFDaTc4NHJGYSIsImVtYWlsIjoidXNlcm1haWxAZXhhbXBsZS5jb20iLCJ0eXBlIjoicmVmcmVzaCIsInVzZXJfaWQiOiJWWE5sY2pvNU5qaz0iLCJpc19zdGFmZiI6dHJ1ZSwiY3NyZlRva2VuIjoieW9LcFBybnpRdXF2d3pUaTZGZ01YS29PQlU1blFNZkNqZEljeWlCSENRc29qd3h1dkZRQlRtVVdQS1BJdGZRZSJ9.jVmuWw6XonCpAGqRt6SFlID3-Nc71NP3SZhgPPiqHlk\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzE1NDMxMzEsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjMxNTQzNDMxLCJ0b2tlbiI6IkJvRDFDaTc4NHJGYSIsImVtYWlsIjoidXNlcm1haWxAZXhhbXBsZS5jb20iLCJ0eXBlIjoiYWNjZXNzIiwidXNlcl9pZCI6IlZYTmxjam81TmprPSIsImlzX3N0YWZmIjp0cnVlfQ.b3M9GP8omjABdGyJwklqsPncm5UyVoSjZiljVex0GhY\", \"errors\": [], \"user\": {\"id\": \"VXNlcjo5Njk=\", \"email\": \"usermail@example.com\", \"firstName\": \"\", \"lastName\": \"lastName\", \"isStaff\": true, \"metadata\": [], \"defaultShippingAddress\": null, \"defaultBillingAddress\": {\"id\": \"QWRkcmVzczo2Nw==\", \"firstName\": \"Test name\", \"lastName\": \"Test lastname\", \"companyName\": \"\", \"streetAddress1\": \"Test street address\", \"streetAddress2\": \"\", \"city\": \"TEST CITY\", \"cityArea\": \"\", \"postalCode\": \"12-345\", \"country\": {\"code\": \"PL\", \"country\": \"Poland\", \"__typename\": \"CountryDisplay\"}, \"countryArea\": \"\", \"phone\": \"\", \"isDefaultBillingAddress\": null, \"isDefaultShippingAddress\": null, \"__typename\": \"Address\"}, \"addresses\": [{\"id\": \"QWRkcmVzczo2NA==\", \"firstName\": \"Test name\", \"lastName\": \"Test lastname\", \"companyName\": \"\", \"streetAddress1\": \"Test street address\", \"streetAddress2\": \"\", \"city\": \"TEST CITY\", \"cityArea\": \"\", \"postalCode\": \"12-345\", \"country\": {\"code\": \"PL\", \"country\": \"Poland\", \"__typename\": \"CountryDisplay\"}, \"countryArea\": \"\", \"phone\": \"\", \"isDefaultBillingAddress\": false, \"isDefaultShippingAddress\": false, \"__typename\": \"Address\"}, [...]
