{
  "log": {
    "_recordingName": "user api/deletes user address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d515c4b5a8d1bbd309eb8164402d0d51",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"login\",\"variables\":{},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nfragment AddressFragment on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  cityArea\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment UserFragment on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  metadata {\\n    key\\n    value\\n    __typename\\n  }\\n  defaultShippingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  addresses {\\n    ...AddressFragment\\n    __typename\\n  }\\n  __typename\\n}\\n\\nmutation login($email: String!, $password: String!) {\\n  tokenCreate(email: $email, password: $password) {\\n    csrfToken\\n    refreshToken\\n    token\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    user {\\n      ...UserFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2854,
            "text": "{\"data\": {\"tokenCreate\": {\"csrfToken\": \"pdspTIKYeeSreACKVDcznYbapuqsNb9aP232XXjvodDozMUjz9d0SvCvTDpv2A7x\", \"refreshToken\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzI0Nzg0ODIsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjM1MDcwNDgyLCJ0b2tlbiI6IjJaREQyU3dhMndPMSIsImVtYWlsIjoidXNlcm1haWw0QGV4YW1wbGUuY29tIiwidHlwZSI6InJlZnJlc2giLCJ1c2VyX2lkIjoiVlhObGNqbzVPRGs9IiwiaXNfc3RhZmYiOnRydWUsImNzcmZUb2tlbiI6InBkc3BUSUtZZWVTcmVBQ0tWRGN6blliYXB1cXNOYjlhUDIzMlhYanZvZERvek1Vano5ZDBTdkN2VERwdjJBN3gifQ.YZbbofSV9AFOROflUxmPsUCTcuLAAZxeOXTZF2VwroI\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzI0Nzg0ODIsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjMyNDc4NzgyLCJ0b2tlbiI6IjJaREQyU3dhMndPMSIsImVtYWlsIjoidXNlcm1haWw0QGV4YW1wbGUuY29tIiwidHlwZSI6ImFjY2VzcyIsInVzZXJfaWQiOiJWWE5sY2pvNU9Eaz0iLCJpc19zdGFmZiI6dHJ1ZX0.djcpAB-3cuMNwg_ZXfelRYiGESYP99nb4hufVKF9JIc\", \"errors\": [], \"user\": {\"id\": \"VXNlcjo5ODk=\", \"email\": \"usermail4@example.com\", \"firstName\": \"\", \"lastName\": \"lastName\", \"isStaff\": true, \"metadata\": [], \"defaultShippingAddress\": null, \"defaultBillingAddress\": {\"id\": \"QWRkcmVzczo5OQ==\", \"firstName\": \"Test name\", \"lastName\": \"Test lastname\", \"companyName\": \"\", \"streetAddress1\": \"Test street address\", \"streetAddress2\": \"\", \"city\": \"TEST CITY\", \"cityArea\": \"\", \"postalCode\": \"12-345\", \"country\": {\"code\": \"PL\", \"country\": \"Poland\", \"__typename\": \"CountryDisplay\"}, \"countryArea\": \"\", \"phone\": \"\", \"isDefaultBillingAddress\": null, \"isDefaultShippingAddress\": null, \"__typename\": \"Address\"}, \"addresses\": [{\"id\": \"QWRkcmVzczo5Nw==\", \"firstName\": \"Test name\", \"lastName\": \"Test lastname\", \"companyName\": \"\", \"streetAddress1\": \"Test street address\", \"streetAddress2\": \"\", \"city\": \"TEST CITY\", \"cityArea\": \"\", \"postalCode\": \"12-345\", \"country\": {\"code\": \"PL\", \"country\": \"Poland\", \"__typename\": \"CountryDisplay\"}, \"countryArea\": \"\", \"phone\": \"\", \"isDefaultBillingAddress\": false, \"isDefaultShippingAddress\": false, \"__typename\": \"Address\"}, [...]
