{
  "log": {
    "_recordingName": "auth api/refreshes the auth token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "3c476eae871dd15bff26d4adebb246ef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"refreshToken\",\"variables\":{},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation refreshToken($csrfToken: String, $refreshToken: String) {\\n  tokenRefresh(csrfToken: $csrfToken, refreshToken: $refreshToken) {\\n    token\\n    user {\\n      id\\n      __typename\\n    }\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 220,
            "text": "{\"data\": {\"tokenRefresh\": {\"token\": null, \"user\": null, \"errors\": [{\"code\": \"JWT_MISSING_TOKEN\", \"field\": \"refreshToken\", \"message\": \"Missing refreshToken\", \"__typename\": \"AccountError\"}], \"__typename\": \"RefreshToken\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 351,
      },
      {
        "_id": "e05f77bcd575dfa041ae24268fdf45e7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization-bearer",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzMwMTgzNjcsImlzcyI6Im1hc3Rlci5zdGFnaW5nLnNhbGVvci5jbG91ZCIsIm93bmVy[...]
