{
  "log": {
    "_recordingName": "Categories object/can get a list of ancestor categories",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8312d6bca81e7ac736116418a8658381",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CategoryAncestorsList\",\"variables\":{\"first\":20,\"id\":\"Q2F0ZWdvcnk6MjI=\"},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CategoryAncestorsList($id: ID!, $first: Int!, $after: String) {\\n  category(id: $id) {\\n    id\\n    ancestors(first: $first, after: $after) {\\n      edges {\\n        node {\\n          ...BaseCategory\\n          __typename\\n        }\\n        __typename\\n      }\\n      totalCount\\n      pageInfo {\\n        ...PageInfo\\n        __typename\\n      }\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 440,
            "text": "[{\"data\": {\"category\": {\"id\": \"Q2F0ZWdvcnk6MjI=\", \"ancestors\": {\"edges\": [{\"node\": {\"id\": \"Q2F0ZWdvcnk6Nw==\", \"name\": \"Accessories\", \"slug\": \"accessories\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}], \"totalCount\": 1, \"pageInfo\": {\"endCursor\": \"WyI3Il0=\", \"hasNextPage\": false, \"__typename\": \"PageInfo\"}, \"__typename\": \"CategoryCountableConnection\"}, \"__typename\": \"Category\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 556,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
