{
  "log": {
    "_recordingName": "Categories object/can get a list of subcategories",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "accfcd1d7efe7e49303a1e671f81bf96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CategoryChildrenList\",\"variables\":{\"first\":20,\"id\":\"Q2F0ZWdvcnk6Nw==\"},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CategoryChildrenList($id: ID!, $first: Int!, $after: String) {\\n  category(id: $id) {\\n    id\\n    children(first: $first, after: $after) {\\n      edges {\\n        node {\\n          ...BaseCategory\\n          __typename\\n        }\\n        __typename\\n      }\\n      totalCount\\n      pageInfo {\\n        ...PageInfo\\n        __typename\\n      }\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 793,
            "text": "[{\"data\": {\"category\": {\"id\": \"Q2F0ZWdvcnk6Nw==\", \"children\": {\"edges\": [{\"node\": {\"id\": \"Q2F0ZWdvcnk6MjA=\", \"name\": \"Paints\", \"slug\": \"paints\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}, {\"node\": {\"id\": \"Q2F0ZWdvcnk6MjI=\", \"name\": \"Homewares\", \"slug\": \"homewares\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}, {\"node\": {\"id\": \"Q2F0ZWdvcnk6MjM=\", \"name\": \"Audiobooks\", \"slug\": \"ebooks\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}], \"totalCount\": 3, \"pageInfo\": {\"endCursor\": \"WyIyMyJd\", \"hasNextPage\": false, \"__typename\": \"PageInfo\"}, \"__typename\": \"CategoryCountableConnection\"}, \"__typename\": \"Category\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 626,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
