{
  "log": {
    "_recordingName": "Auth API/Does not cache mutations",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9c9b343a2a9815f2fa0e11fa216543ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MDU4MDMzMTMsImV4cCI6MTYwNTgwMzYxMywidG9rZW4iOiJRMFVCUjRQaFpvT0YiLCJlbWFpbCI6InNka0BleGFtcGxlLmNvbSIsInR5cGUiOiJhY2Nlc3MiLCJ1c2VyX2lkIjoiVlhObGNqb3lOems9IiwiaXNfc3RhZmYiOmZhbHNlfQ.a_a7RYJtEBqiSFaCwsm26KVSCSQgkaPCzZh8A6-3-6Q"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"SetPassword\",\"variables\":{\"email\":\"sdk@example.com\",\"password\":\"test2345678\",\"token\":\"5hr-73a06b70fd6ad8ab3913\"},\"query\":\"fragment Address on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment User on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  defaultShippingAddress {\\n    ...Address\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...Address\\n    __typename\\n  }\\n  addresses {\\n    ...Address\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment AccountError on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation SetPassword($token: String!, $email: String!, $password: String!) {\\n  setPassword(token: $token, email: $email, password: $password) {\\n    errors: accountErrors {\\n      ...AccountError\\n      __typename\\n    }\\n    token\\n    user {\\n      ...User\\n      __typename\\n    }\\n    accountErrors {\\n      field\\n      message\\n      code\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 336,
            "text": "[{\"data\": {\"setPassword\": {\"errors\": [{\"code\": \"INVALID\", \"field\": \"token\", \"message\": \"Invalid or expired token.\", \"__typename\": \"AccountError\"}], \"token\": null, \"user\": null, \"accountErrors\": [{\"field\": \"token\", \"message\": \"Invalid or expired token.\", \"code\": \"INVALID\", \"__typename\": \"AccountError\"}], \"__typename\": \"SetPassword\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 374,
      },
      {
        "_id": "466495f0fb7199f0081974ae07e334c6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MDU4MDMzMTMsImV4cCI6MTYwNTgwMzYxMywidG9rZW4iOiJRMFVCUjRQaFpvT0YiLCJlbWFpbCI6InNka0BleGFtcGxlLmNvbSIsInR5cGUiOiJhY2Nlc3MiLCJ1c2VyX2lkIjoiVlhObGNqb3lOems9IiwiaXNfc3RhZmYiOmZhbHNlfQ.a_a7RYJtEBqiSFaCwsm26KVSCSQgkaPCzZh8A6-3-6Q"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"PasswordChange\",\"variables\":{\"newPassword\":\"test2345678\",\"oldPassword\":\"test2345678\"},\"query\":\"fragment AccountError on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation PasswordChange($newPassword: String!, $oldPassword: String!) {\\n  passwordChange(newPassword: $newPassword, oldPassword: $oldPassword) {\\n    errors: accountErrors {\\n      ...AccountError\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 203,
            "text": "[{\"data\": {\"passwordChange\": {\"errors\": [{\"code\": \"INVALID_CREDENTIALS\", \"field\": \"oldPassword\", \"message\": \"Old password isn't valid.\", \"__typename\": \"AccountError\"}], \"__typename\": \"PasswordChange\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 489,
      },
      {
        "_id": "d74ee7bb6e290d9196898798d[...]
