{
  "log": {
    "_recordingName": "useCategoryChildrenList/can fetch next page",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "32f0e4f4385ea335fe3a1e6268f3b38b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CategoryChildrenList\",\"variables\":{\"channel\":\"default-channel\",\"first\":1,\"id\":\"Q2F0ZWdvcnk6Nw==\"},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CategoryChildrenList($id: ID!, $first: Int!, $after: String) {\\n  category(id: $id) {\\n    id\\n    children(first: $first, after: $after) {\\n      edges {\\n        node {\\n          ...BaseCategory\\n          __typename\\n        }\\n        __typename\\n      }\\n      totalCount\\n      pageInfo {\\n        ...PageInfo\\n        __typename\\n      }\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 428,
            "text": "[{\"data\": {\"category\": {\"id\": \"Q2F0ZWdvcnk6Nw==\", \"children\": {\"edges\": [{\"node\": {\"id\": \"Q2F0ZWdvcnk6MjA=\", \"name\": \"Paints\", \"slug\": \"paints\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\"}, \"__typename\": \"CategoryCountableEdge\"}], \"totalCount\": 3, \"pageInfo\": {\"endCursor\": \"WyIyMCJd\", \"hasNextPage\": true, \"__typename\": \"PageInfo\"}, \"__typename\": \"CategoryCountableConnection\"}, \"__typename\": \"Category\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 372,
      },
      {
        "_id": "08ac57cdc75515e7f8f8d93d2623f589",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CategoryChildrenList\",\"variables\":{\"channel\":\"default-channel\",\"first\":1,\"id\":\"Q2F0ZWdvcnk6Nw==\",\"after\":\"WyIyMCJd\"},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CategoryChildrenList($id: ID!, $first: Int!, $after: String) {\\n  category(id: $id) {\\n    id\\n    children(first: $first, after: $after) {\\n      edges {\\n        node {\\n          ...BaseCategory\\n          __typename\\n        }\\n        __typename\\n   [...]
