{
  "log": {
    "_recordingName": "user api/sends a request to delete user account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "212d5d019736d7b4c35e6125c30c912c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"accountRequestDeletion\",\"variables\":{\"channel\":\"default-channel\"},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation accountRequestDeletion($channel: String!, $redirectUrl: String!) {\\n  accountRequestDeletion(channel: $channel, redirectUrl: $redirectUrl) {\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"data\":{\"accountRequestDeletion\":{\"errors\":[],\"__typename\":\"AccountRequestDeletion\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-edge-origin-shield-skipped",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 434,
      },
      {
        "_id": "46ab4097d663a5e4688f5c952c38c143",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"login\",\"variables\":{},\"query\":\"fragment AccountErrorFra[...]
