{
  "log": {
    "_recordingName": "auth api/can register",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7009236e3c63dca609e922646a6722e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"register\",\"variables\":{\"input\":{\"channel\":\"default-channel\"}},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation register($input: AccountRegisterInput!) {\\n  accountRegister(input: $input) {\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    requiresConfirmation\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": "{\"data\": {\"accountRegister\": {\"errors\": [], \"requiresConfirmation\": true, \"__typename\": \"AccountRegister\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4528,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
