{
  "log": {
    "_recordingName": "auth api/can register",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "6f49c3c57ecd289b1d5e0c96dd687dc8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"register\",\"variables\":{\"input\":{\"channel\":\"default-channel\"}},\"query\":\"mutation register($input: AccountRegisterInput!) {\\n  accountRegister(input: $input) {\\n    errors {\\n      field\\n      message\\n      code\\n      __typename\\n    }\\n    requiresConfirmation\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": "{\"data\": {\"accountRegister\": {\"errors\": [], \"requiresConfirmation\": true, \"__typename\": \"AccountRegister\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 688,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
