{
  "log": {
    "_recordingName": "auth api/can register",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "8265402dc5715adfeba6bbc34ab881bc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"register\",\"variables\":{\"channel\":\"default-channel\"},\"query\":\"mutation register($email: String!, $password: String!, $redirectUrl: String, $channel: String!) {\\n  accountRegister(\\n    input: {email: $email, password: $password, redirectUrl: $redirectUrl, channel: $channel}\\n  ) {\\n    accountErrors {\\n      field\\n      message\\n      code\\n      __typename\\n    }\\n    requiresConfirmation\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 115,
            "text": "{\"data\": {\"accountRegister\": {\"accountErrors\": [], \"requiresConfirmation\": true, \"__typename\": \"AccountRegister\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 628,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
