{
  "log": {
    "_recordingName": "user api/creates the user account address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d515c4b5a8d1bbd309eb8164402d0d51",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"login\",\"variables\":{},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nfragment AddressFragment on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  cityArea\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment UserFragment on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  metadata {\\n    key\\n    value\\n    __typename\\n  }\\n  defaultShippingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  addresses {\\n    ...AddressFragment\\n    __typename\\n  }\\n  __typename\\n}\\n\\nmutation login($email: String!, $password: String!) {\\n  tokenCreate(email: $email, password: $password) {\\n    csrfToken\\n    refreshToken\\n    token\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    user {\\n      ...UserFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1133,
            "text": "{\"data\": {\"tokenCreate\": {\"csrfToken\": \"o0qhNRe0NboBRXfCHXamjPLWJ8aGZrHBXUh6EnJFwUghAoEw2oAhVXTRvjrPj8ui\", \"refreshToken\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzI0OTA0NzUsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjM1MDgyNDc1LCJ0b2tlbiI6IjBiZTJUQmNEV0pRNiIsImVtYWlsIjoidXNlcm1haWw4QGV4YW1wbGUuY29tIiwidHlwZSI6InJlZnJlc2giLCJ1c2VyX2lkIjoiVlhObGNqbzVPVE09IiwiaXNfc3RhZmYiOnRydWUsImNzcmZUb2tlbiI6Im8wcWhOUmUwTmJvQlJYZkNIWGFtalBMV0o4YUdackhCWFVoNkVuSkZ3VWdoQW9FdzJvQWhWWFRSdmpyUGo4dWkifQ.kOLznwTzw8uummI7bKa5V_yKuyV0SrmqdfVIVaKcAls\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzI0OTA0NzUsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjMyNDkwNzc1LCJ0b2tlbiI6IjBiZTJUQmNEV0pRNiIsImVtYWlsIjoidXNlcm1haWw4QGV4YW1wbGUuY29tIiwidHlwZSI6ImFjY2VzcyIsInVzZXJfaWQiOiJWWE5sY2pvNU9UTT0iLCJpc19zdGFmZiI6dHJ1ZX0.8UAcd7kUQhogqwsHoXGYLp01RdUVbl8pBDjvvAIDQtc\", \"errors\": [], \"user\": {\"id\": \"VXNlcjo5OTM=\", \"email\": \"usermail8@example.com\", \"firstName\": \"\", \"lastName\": \"lastName\", \"isStaff\": true, \"metadata\": [], \"defaultShippingAddress\": null, \"defaultBillingAddress\": null, \"addresses\": [], \"__typename\": \"User\"}, \"__typename\": \"CreateToken\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 959,
      },
      {
        "_id": "9ef06a4d81042251b27538b65072b150",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"createAccountAddress\",\"variables\":{\"input\":{\"firstName\":\"Test name\",\"lastName\":\"Test lastname\",\"streetAddress1\":\"Test street address\",\"city\":\"Test city\",\"postalCode\":\"12-345\",\"country\":\"PL\"}},\"query\":\"fragment AddressFragment on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  cityArea\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment UserFragment on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  metadata {\\n    key\\n    value\\n    __typename\\n  }\\n  defaultShippingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  addresses {\\n    ...AddressFragment\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation createAccountAddress($input: AddressInput!) {\\n  accountAddressCreate(input: $input) {\\n    address {\\n      ...AddressFragment\\n      __typename\\n    }\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    user {\\n      ...UserFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1201,
            "text": "{\"data\": {\"accountAddressCreate\": {\"address\": {\"id\": \"QWRkcmVzczoxMDE=\", \"firstName\": \"Test name\", \"lastName\": \"Test lastname\", \"companyName\": \"\", \"streetAddress1\": \"Test street address\", \"streetAddress2\": \"\", \"city\": \"TEST CITY\", \"cityArea\": \"\", \"postalCode\": \"12-345\", \"country\": {\"code\": \"PL\", \"country\": \"Poland\", \"__typename\": \"CountryDisplay\"}, \"countryArea\": \"\", \"phone\": \"\", \"isDefaultBillingAddress\": null, \"isDefaultShippingAddress\": null, \"__typename\": \"Address\"}, \"errors\": [], \"user\": {\"id\": \"VXNlcjo5OTM=\", \"email\": \"usermail8@example.com\", \"firstName\": \"\", \"lastName\": \"lastName\", \"isStaff\": true, \"metadata\": [], \"defaultShippingAddress\": null, \"defaultBillingAddress\": null, \"addresses\": [{\"id\": \"QWRkcmVzczoxMDE=\", \"firstName\": \"Test name\", \"lastName\": \"Test lastname\", \"companyName\": \"\", \"streetAddress1\": \"Test street address\", \"streetAddress2\": \"\", \"city\": \"TEST CITY\", \"cityArea\": \"\", \"postalCode\": \"12-345\", \"country\": {\"code\": \"PL\", \"country\": \"Poland\", \"__typename\": \"CountryDisplay\"}, \"countryArea\": \"\", \"phone\": \"\", \"isDefaultBillingAddress\": false, \"isDefaultShippingAddress\": false, \"__typename\": \"Address\"}], \"__typename\": \"User\"}, \"__typename\": \"AccountAddressCreate\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 612,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
