{
  "log": {
    "_recordingName": "useCollectionList/can fetch collections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b1c9a18de46d30193e9cc356d06a2347",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CollectionList\",\"variables\":{\"channel\":\"default-channel\",\"first\":20},\"query\":\"fragment BaseCollection on Collection {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CollectionList($first: Int!, $after: String, $sortBy: CollectionSortingInput, $filter: CollectionFilterInput, $channel: String) {\\n  collections(first: $first, after: $after, sortBy: $sortBy, filter: $filter, channel: $channel) {\\n    edges {\\n      node {\\n        ...BaseCollection\\n        __typename\\n      }\\n      __typename\\n    }\\n    pageInfo {\\n      ...PageInfo\\n      __typename\\n    }\\n    totalCount\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 981,
            "text": "[{\"data\": {\"collections\": {\"edges\": [{\"node\": {\"id\": \"Q29sbGVjdGlvbjoxNDA=\", \"name\": \"Cy-29451\", \"slug\": \"cy-29451\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Collection\"}, \"__typename\": \"CollectionCountableEdge\"}, {\"node\": {\"id\": \"Q29sbGVjdGlvbjoxNDI=\", \"name\": \"Cy-7679\", \"slug\": \"cy-7679\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Collection\"}, \"__typename\": \"CollectionCountableEdge\"}, {\"node\": {\"id\": \"Q29sbGVjdGlvbjoz\", \"name\": \"Featured Products\", \"slug\": \"featured-products\", \"seoDescription\": null, \"seoTitle\": null, \"__typename\": \"Collection\"}, \"__typename\": \"CollectionCountableEdge\"}, {\"node\": {\"id\": \"Q29sbGVjdGlvbjoy\", \"name\": \"Winter sale\", \"slug\": \"winter-sale\", \"seoDescription\": null, \"seoTitle\": null, \"__typename\": \"Collection\"}, \"__typename\": \"CollectionCountableEdge\"}], \"pageInfo\": {\"endCursor\": \"WyJ3aW50ZXItc2FsZSJd\", \"hasNextPage\": false, \"__typename\": \"PageInfo\"}, \"totalCount\": 4, \"__typename\": \"CollectionCountableConnection\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2228,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
