{
  "log": {
    "_recordingName": "useCollectionList/can fetch collection by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bfbb8d5d2e7c2f6b994cee902737d109",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"UserDetails\",\"variables\":{},\"query\":\"fragment Address on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment User on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  defaultShippingAddress {\\n    ...Address\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...Address\\n    __typename\\n  }\\n  addresses {\\n    ...Address\\n    __typename\\n  }\\n  __typename\\n}\\n\\nquery UserDetails {\\n  me {\\n    ...User\\n    __typename\\n  }\\n}\\n\"},{\"operationName\":\"CollectionDetails\",\"variables\":{\"channel\":\"default-channel\",\"id\":\"Q29sbGVjdGlvbjox\"},\"query\":\"fragment BaseCollection on Collection {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment CollectionDetails on Collection {\\n  ...BaseCollection\\n  backgroundImage {\\n    alt\\n    url\\n    __typename\\n  }\\n  description\\n  __typename\\n}\\n\\nquery CollectionDetails($id: ID, $slug: String, $channel: String) {\\n  collection(id: $id, slug: $slug, channel: $channel) {\\n    ...CollectionDetails\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 605,
            "text": "[{\"data\": {\"me\": null}}, {\"data\": {\"collection\": {\"id\": \"Q29sbGVjdGlvbjox\", \"name\": \"Summer collection\", \"slug\": \"summer-collection\", \"seoDescription\": null, \"seoTitle\": null, \"__typename\": \"Collection\", \"backgroundImage\": {\"alt\": \"\", \"url\": \"https://master.staging.saleor.cloud/media/collection-backgrounds/summer.jpg\", \"__typename\": \"Image\"}, \"description\": \"{\\\"blocks\\\": [{\\\"data\\\": {\\\"text\\\": \\\"The Saleor Summer Collection features a range of products that feel the heat of the market. A demo store for all seasons. Saleor captures the open source, e-commerce sun.\\\"}, \\\"type\\\": \\\"paragraph\\\"}]}\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 733,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
