{
  "log": {
    "_recordingName": "user api/sends request to change user email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d515c4b5a8d1bbd309eb8164402d0d51",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"login\",\"variables\":{},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nfragment AddressFragment on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  cityArea\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment UserFragment on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  metadata {\\n    key\\n    value\\n    __typename\\n  }\\n  defaultShippingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...AddressFragment\\n    __typename\\n  }\\n  addresses {\\n    ...AddressFragment\\n    __typename\\n  }\\n  __typename\\n}\\n\\nmutation login($email: String!, $password: String!) {\\n  tokenCreate(email: $email, password: $password) {\\n    csrfToken\\n    refreshToken\\n    token\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    user {\\n      ...UserFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1142,
            "text": "{\"data\": {\"tokenCreate\": {\"csrfToken\": \"EyKZHgrGmtAkF1BM0q4cULvJnoNtKKbrDUjEGSkoitER5PbbvzDjQLCmq3SnsWKn\", \"refreshToken\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzI0OTA0NzEsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjM1MDgyNDcxLCJ0b2tlbiI6IjBiZTJUQmNEV0pRNiIsImVtYWlsIjoidXNlcm1haWw4QGV4YW1wbGUuY29tIiwidHlwZSI6InJlZnJlc2giLCJ1c2VyX2lkIjoiVlhObGNqbzVPVE09IiwiaXNfc3RhZmYiOnRydWUsImNzcmZUb2tlbiI6IkV5S1pIZ3JHbXRBa0YxQk0wcTRjVUx2Sm5vTnRLS2JyRFVqRUdTa29pdEVSNVBiYnZ6RGpRTENtcTNTbnNXS24ifQ.HsV_ynFJ_BK5PauYVCEd3WXj7H53kaoIntgfpI2EJQ4\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MzI0OTA0NzEsIm93bmVyIjoic2FsZW9yIiwiZXhwIjoxNjMyNDkwNzcxLCJ0b2tlbiI6IjBiZTJUQmNEV0pRNiIsImVtYWlsIjoidXNlcm1haWw4QGV4YW1wbGUuY29tIiwidHlwZSI6ImFjY2VzcyIsInVzZXJfaWQiOiJWWE5sY2pvNU9UTT0iLCJpc19zdGFmZiI6dHJ1ZX0.FsIIQPKOr5FeMWM4YbWWfZeRG1p3-dTESiJXhrpEUfg\", \"errors\": [], \"user\": {\"id\": \"VXNlcjo5OTM=\", \"email\": \"usermail8@example.com\", \"firstName\": \"firstName\", \"lastName\": \"lastName\", \"isStaff\": true, \"metadata\": [], \"defaultShippingAddress\": null, \"defaultBillingAddress\": null, \"addresses\": [], \"__typename\": \"User\"}, \"__typename\": \"CreateToken\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1138,
      },
      {
        "_id": "f8fbe5cbf9d5f819e4a262efca331049",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"requestEmailChange\",\"variables\":{\"channel\":\"default-channel\"},\"query\":\"fragment AddressFragment on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  cityArea\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment UserFragment on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  metadata {\\n    key\\n    value\\n    __ty[...]
