{
  "log": {
    "_recordingName": "useProductList/can sort",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "00c84991cec7744f3f7eeb880fff04a4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"ProductList\",\"variables\":{\"channel\":\"default-channel\",\"first\":5,\"sortBy\":{\"direction\":\"DESC\",\"field\":\"NAME\"}},\"query\":\"fragment BaseProduct on Product {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  isAvailableForPurchase\\n  availableForPurchase\\n  seoTitle\\n  thumbnail {\\n    url\\n    alt\\n    __typename\\n  }\\n  thumbnail2x: thumbnail(size: 510) {\\n    url\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment Price on TaxedMoney {\\n  gross {\\n    amount\\n    currency\\n    __typename\\n  }\\n  net {\\n    amount\\n    currency\\n    __typename\\n  }\\n  __typename\\n}\\n\\nfragment ProductPric[...]
