{
  "log": {
    "_recordingName": "auth api/sends request to reset password",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2700ae1ae3918b88699576b980dd66e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"requestPasswordReset\",\"variables\":{\"channel\":\"default-channel\"},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation requestPasswordReset($email: String!, $redirectUrl: String!, $channel: String!) {\\n  requestPasswordReset(\\n    email: $email\\n    redirectUrl: $redirectUrl\\n    channel: $channel\\n  ) {\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 88,
            "text": "{\"data\":{\"requestPasswordReset\":{\"errors\":[],\"__typename\":\"RequestPasswordReset\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-edge-origin-shield-skipped",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 757,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
