{
  "log": {
    "_recordingName": "auth api/sends request to reset password",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "b74fe90341b77ba5a978e00caf2ec054",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"requestPasswordReset\",\"variables\":{},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation requestPasswordReset($email: String!, $redirectUrl: String!) {\\n  requestPasswordReset(email: $email, redirectUrl: $redirectUrl) {\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 88,
            "text": "{\"data\": {\"requestPasswordReset\": {\"errors\": [], \"__typename\": \"RequestPasswordReset\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2891,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
