.wrapper {
  column-gap: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding: 100px 50px;
  row-gap: 50px;
  width: 1200px;
}

.product-tile {
  height: 380px;
  width: 350px;
}

.product-tile__img {
  height: 380px;
  width: 100%;
}

.product-tile__label {
  color: #3f3f3f;
  margin: 10px auto 0;
  text-align: center;
  width: 80%;
}

.product-tile__label.skeleton {
  height: 16px;
}

.skeleton {
  animation: skeleton 1.5s infinite;
  background: #d3d3d3;
}

@keyframes skeleton {
  0% {
    opacity: 10%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 10%;
  }
}
