{
  "log": {
    "_recordingName": "Collection object/can get new page",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ca9b3d39a0078f7a98a798041d47c0aa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CollectionList\",\"variables\":{\"channel\":\"default-channel\",\"first\":1},\"query\":\"fragment BaseCollection on Collection {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CollectionList($first: Int!, $after: String, $sortBy: CollectionSortingInput, $filter: CollectionFilterInput, $channel: String) {\\n  collections(first: $first, after: $after, sortBy: $sortBy, filter: $filter, channel: $channel) {\\n    edges {\\n      node {\\n        ...BaseCollection\\n        __typename\\n      }\\n      __typename\\n    }\\n    pageInfo {\\n      ...PageInfo\\n      __typename\\n    }\\n    totalCount\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 387,
            "text": "[{\"data\": {\"collections\": {\"edges\": [{\"node\": {\"id\": \"Q29sbGVjdGlvbjoxNDA=\", \"name\": \"Cy-29451\", \"slug\": \"cy-29451\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Collection\"}, \"__typename\": \"CollectionCountableEdge\"}], \"pageInfo\": {\"endCursor\": \"WyJjeS0yOTQ1MSJd\", \"hasNextPage\": true, \"__typename\": \"PageInfo\"}, \"totalCount\": 4, \"__typename\": \"CollectionCountableConnection\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 355,
      },
      {
        "_id": "3fcf23e673540a855a4dfa4e2b1c30cd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"CollectionList\",\"variables\":{\"channel\":\"default-channel\",\"first\":1,\"after\":\"WyJjeS0yOTQ1MSJd\"},\"query\":\"fragment BaseCollection on Collection {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment PageInfo on PageInfo {\\n  endCursor\\n  hasNextPage\\n  __typename\\n}\\n\\nquery CollectionList($first: Int!, $after: String, $sortBy: CollectionSortingInput, $filter: CollectionFilterInput, $channel: String) {\\n  collections(first: $first, after: $after, sortBy: $sortBy, filter: $filter, channel: $channel) {\\n    edges {\\n      [...]
