{
  "log": {
    "_recordingName": "auth api/changes user's password",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68ff81bfa9e077b6e2322b10e9b933f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"passwordChange\",\"variables\":{},\"query\":\"fragment AccountErrorFragment on AccountError {\\n  code\\n  field\\n  message\\n  __typename\\n}\\n\\nmutation passwordChange($newPassword: String!, $oldPassword: String!) {\\n  passwordChange(newPassword: $newPassword, oldPassword: $oldPassword) {\\n    errors {\\n      ...AccountErrorFragment\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}"
          },
          "queryString": [],
          "url": "https://jwt-expire-test.api.saleor.rocks/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 76,
            "text": "{\"data\": {\"passwordChange\": {\"errors\": [], \"__typename\": \"PasswordChange\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3058,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
