{
  "log": {
    "_recordingName": "useCategoryList/can fetch category",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "37718df5629a8b9de8ecd482f0386f25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operationName\":\"UserDetails\",\"variables\":{},\"query\":\"fragment Address on Address {\\n  id\\n  firstName\\n  lastName\\n  companyName\\n  streetAddress1\\n  streetAddress2\\n  city\\n  postalCode\\n  country {\\n    code\\n    country\\n    __typename\\n  }\\n  countryArea\\n  phone\\n  isDefaultBillingAddress\\n  isDefaultShippingAddress\\n  __typename\\n}\\n\\nfragment User on User {\\n  id\\n  email\\n  firstName\\n  lastName\\n  isStaff\\n  defaultShippingAddress {\\n    ...Address\\n    __typename\\n  }\\n  defaultBillingAddress {\\n    ...Address\\n    __typename\\n  }\\n  addresses {\\n    ...Address\\n    __typename\\n  }\\n  __typename\\n}\\n\\nquery UserDetails {\\n  me {\\n    ...User\\n    __typename\\n  }\\n}\\n\"},{\"operationName\":\"CategoryDetails\",\"variables\":{\"channel\":\"default-channel\",\"id\":\"Q2F0ZWdvcnk6Nw==\"},\"query\":\"fragment BaseCategory on Category {\\n  id\\n  name\\n  slug\\n  seoDescription\\n  seoTitle\\n  __typename\\n}\\n\\nfragment CategoryDetails on Category {\\n  ...BaseCategory\\n  backgroundImage {\\n    alt\\n    url\\n    __typename\\n  }\\n  description\\n  __typename\\n}\\n\\nquery CategoryDetails($id: ID, $slug: String) {\\n  category(id: $id, slug: $slug) {\\n    ...CategoryDetails\\n    __typename\\n  }\\n}\\n\"}]"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 418,
            "text": "[{\"data\": {\"me\": null}}, {\"data\": {\"category\": {\"id\": \"Q2F0ZWdvcnk6Nw==\", \"name\": \"Accessories\", \"slug\": \"accessories\", \"seoDescription\": \"\", \"seoTitle\": \"\", \"__typename\": \"Category\", \"backgroundImage\": {\"alt\": \"\", \"url\": \"https://master.staging.saleor.cloud/media/category-backgrounds/accessories.jpg\", \"__typename\": \"Image\"}, \"description\": \"{\\\"blocks\\\": [{\\\"data\\\": {\\\"text\\\": \\\"\\\"}, \\\"type\\\": \\\"paragraph\\\"}]}\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 590,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
